### Function Practice Exercises

**LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd** <br>
lesser_of_two_evens(2,4) --> 2 <br>
lesser_of_two_evens(2,5) --> 5 <br>

In [1]:
def lesser_of_evens(x,y):
    if x%2==0 and y%2==0:
        return min(x,y)
    else:
        return max(x,y)

In [2]:
lesser_of_evens(2,4)

2

In [3]:
lesser_of_evens(2,5)

5

**ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter** <br>
animal_crackers('Levelheaded Llama') --> True <br>
animal_crackers('Crazy Kangaroo') --> False <br>

In [4]:
def animal_crackers(x):
    list = x.split(' ')
    if list[0][0] == list[1][0]:
        return True
    else:
        return False

In [5]:
animal_crackers('Levelheaded Llama')

True

In [6]:
animal_crackers('Crazy Kangaroo')

False

**MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False** <br>
makes_twenty(20,10) --> True <br>
makes_twenty(12,8) --> True <br>
makes_twenty(2,3) --> False

In [7]:
def makes_twenty(x, y):
    if (x==20 or y==20) or (x+y==20):
        return True
    else:
        return False

In [8]:
makes_twenty(20,10)

True

In [9]:
makes_twenty(12,8)

True

In [10]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

**OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name** <br>
old_macdonald('macdonald') --> MacDonald <br> <br>
Note: 'macdonald'.capitalize() returns 'Macdonald' <br>

In [11]:
def old_macdonald(x):
    if len(x) > 3:
        return x[:3].capitalize() + x[3:].capitalize()
    else:
        "Name is too short"

In [12]:
old_macdonald('macdonald')

'MacDonald'

**MASTER YODA: Given a sentence, return a sentence with the words reversed** <br>
master_yoda('I am home') --> 'home am I' <br>
master_yoda('We are ready') --> 'ready are We' <br>
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method: <br>

>>> "--".join(['a','b','c']) <br>
>>> 'a--b--c' <br>
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string: <br> <br>

>>> " ".join(['Hello','world']) <br>
>>> "Hello world"

In [13]:
def master_yoda(x):
    list = x.split(' ')
    rev_list = list[::-1]
    final = " ".join(rev_list)
    print(final)

In [14]:
master_yoda('I am home')

home am I

In [15]:
master_yoda('We are ready')

ready are We

**ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200** <br>
almost_there(90) --> True <br>
almost_there(104) --> True <br>
almost_there(150) --> False <br>
almost_there(209) --> True <br>
NOTE: abs(num) returns the absolute value of a number

In [16]:
def almost_there(x):
    return ((abs(100 - x) <= 10) or (abs(200 - x) <= 10))

In [17]:
almost_there(90)

True

In [18]:
almost_there(150)

False

## LEVEL 2 PROBLEMS

**FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.** <br>
<br>
has_33([1, 3, 3]) → True <br>
has_33([1, 3, 1, 3]) → False <br>
has_33([3, 1, 3]) → False <br>

In [19]:
def has_33(x):
    for i in range(0, len(x)-1):
        if x[i] == 3 and x[i+1] == 3:
            return True
    return False

In [20]:
has_33([1, 3, 3])

True

In [21]:
has_33([1, 3, 1, 3])

False

**PAPER DOLL: Given a string, return a string where for every character in the original there are three characters** <br> <br>
paper_doll('Hello') --> 'HHHeeellllllooo' <br>
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii' <br>

In [22]:
def paper_doll(x):
    listt = ''
    for i in range(0, len(x)-1, 3):
        if x[i]==x[i+1]==x[i+2] :
            listt = listt + (x[i])
    return listt

In [23]:
paper_doll('HHHeeellllllooo')

'Hello'

In [24]:
paper_doll('MMMiiissssssiiippppppiii')

'Missippi'

**BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'** <br>
blackjack(5,6,7) --> 18 <br>
blackjack(9,9,9) --> 'BUST' <br>
blackjack(9,9,11) --> 19 <br>

In [25]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum  < 21:
        return sum
    else:
        if a==11 or b==11 or c==11:
            sum = sum - 10
        if sum < 21:
            return sum
        else:
            return 'BUST'

In [26]:
blackjack(5,6,7)

18

In [27]:
blackjack(9,9,11)

19

In [28]:
blackjack(9,9,9)

'BUST'

**SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.** <br>
summer_69([1, 3, 5]) --> 9 <br>
summer_69([4, 5, 6, 7, 8, 9]) --> 9 <br>
summer_69([2, 1, 6, 9, 11]) --> 14 <br>

In [29]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [30]:
summer_69([1, 3, 5])

9

In [31]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [32]:
summer_69([2, 1, 6, 9, 11])

14